input,
button {
  border-radius     : 0;
  -webkit-appearance: none;
  outline           : none;
}

input,
.input {
  width  : 100%;
  padding: 1rem;
  border : solid 2px $main-colour;
}

button,
.button {
  min-width : 4rem;
  border    : solid 2px $main-colour;
  transition: 250ms ease-out box-shadow;

  &:hover {
    box-shadow: 5px 5px 0px 0px $secondary-colour;
  }

  &--primary {
    background-color: $accent-colour;
  }
}

.input-group {
  display: flex;

  &--rightButton {
    input {
      border-right: none;
    }
  }
}
